@import "tailwindcss";

:root {
  font-family: "League Spartan", "Montserrat", "Inter", sans-serif;
}

@theme {
  --color-primary-600: #43a047;
  --color-primary-500: #6cc447;
  --color-primary-300: #a5d6a7;

  --color-accent-500: #a0522d;
  --color-accent-400: #ffdb58;

  --color-neutral-900: #111827;
  --color-neutral-700: #374151;
  --color-neutral-600: #4b5563;
  --color-neutral-300: #b0bec5;
  --color-neutral-200: #e5e7eb;

  /* Définir les gradients comme variables CSS */
  --gradient-line: linear-gradient(
    90deg,
    #43a047 0%,
    rgba(34, 197, 94, 0.65) 100%
  );
  --gradient-2: linear-gradient(90deg, #43a047 0%, #fbbf24 100%);
  --gradient-primary: linear-gradient(
    135deg,
    var(--color-primary-600) 0%,
    var(--color-primary-500) 100%
  );
  --gradient-accent: linear-gradient(
    135deg,
    var(--color-accent-500) 0%,
    var(--color-accent-400) 100%
  );
}

/* Classes pour les backgrounds */
.bg-linear-line {
  background: var(--gradient-line);
}

.bg-linear-2 {
  background: var(--gradient-2);
}

/* Classes pour les textes avec gradient */
.text-linear-line {
  background: var(--gradient-line);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.text-linear-2 {
  background: var(--gradient-2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

* {
  font-family: "League Spartan", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE/Edge */
}